*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    background-color: #7ADFFF;
    display: flex;
    align-items: center;
    justify-self: center;
}

.container{
    width: 1200px;
    height: 1136px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: lightgreen;
    flex-direction: column; */
} 


.stripe{
    width: 1200px;
    height: 269px;
    display: flex;
    justify-content: space-between;
    /* background-color: blueviolet; */
    margin-bottom: 20px;


}
.square{
    width: 285px;
    height: 269px;
    background-color: white;
    gap:20px;
}
