@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#D5A3FF 0%, #77A5F8 100%);
}

.wrapper{
    width: 25rem;
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0.6rem 0.7rem 0.9rem rgba(0,0,0,0.05);
}

.wrapper header{
    height: 3rem;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 2rem;
    position: relative;
}

header label{
    height: 100%;
    z-index: 2;
    width: 30%;
    display: flex;
    cursor: pointer;
    font-size: 1.1rem;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: color 0.4s ease;
}



